<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- <bean id="dataSource"
		class="org.springframework.jndi.JndiObjectFactoryBean">
    	<property name="jndiName">
		<value>jdbc/autostopowicz</value>
		</property>
		 <property name="lookupOnStartup">
            <value>true</value>
        </property> 
  	</bean> -->  
 
<!-- <jee:jndi-lookup id="dataSource" jndiName="autostopowicz" resource-ref="true"/> -->


 <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost:3306/autostopowicz</value>
		
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>root</value>
		</property>
	</bean> 
	
	<!-- Hibernate SessionFactory -->
	<bean class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" id="sessionFactory">
		<property name="dataSource">
			<ref local="dataSource"/>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.connection.pool_size">20</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
		<property name="annotatedClasses">
     <list>
       <value>pl.com.autostopowicz.entities.User</value>
        <value>pl.com.autostopowicz.entities.Group</value>
         <value>pl.com.autostopowicz.entities.Car</value>
         <value>pl.com.autostopowicz.entities.Drive</value>
         <value>pl.com.autostopowicz.entities.Country</value>
         <value>pl.com.autostopowicz.entities.City</value>
         <value>pl.com.autostopowicz.entities.Userdrive</value>
     </list>
   </property>
	</bean> 
	
	<!-- <context:annotation-config/>
	<context:component-scan base-package="pl.com.autostopowicz" /> -->
	 
	
	<!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
	<bean autowire="default" class="pl.com.autostopowicz.dao.AutostopowiczDAOImpl" dependency-check="default" id="autostopowiczDAOTarget" lazy-init="default">
		<property name="sessionFactory">
			<ref local="sessionFactory"/>
		</property>
	</bean>
	<bean autowire="default" class="org.springframework.orm.hibernate3.HibernateTransactionManager" dependency-check="default" id="transactionManager" lazy-init="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean autowire="default" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" dependency-check="default" id="autostopowiczDAO" lazy-init="default">
		<property name="transactionManager">
			<ref local="transactionManager"/>
		</property>
		<property name="target">
			<ref local="autostopowiczDAOTarget"/>
		</property>
		<property name="transactionAttributes">
			<!--  define the transaction specs here  -->
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="un*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	<bean class="pl.com.autostopowicz.database.DatabaseManagerImpl" id="databaseManager">
		<property name="dao">
			<ref bean="autostopowiczDAO"/>
		</property>
	</bean>
	 
</beans>