<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<!-- Acegi -->

	<bean id="acegiFilterChainProxy"
		class="org.acegisecurity.util.FilterChainProxy">
		<property name="filterInvocationDefinitionSource">
			<value>
				CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
				PATTERN_TYPE_APACHE_ANT
				/**=httpSessionContextIntegrationFilter,securityRequestFilter,exceptionTranslationFilter,anonymousProcessingFilter,filterSecurityInterceptor
			</value>
		</property>
		<!-- 
			/**=httpSessionContextIntegrationFilter,anonymousProcessingFilter,requestWrapper,filterSecurityInterceptor
		-->
	</bean>

	<bean id="anonymousProcessingFilter"
		class="org.acegisecurity.providers.anonymous.AnonymousProcessingFilter">
		<property name="key">
			<value>foobar</value>
		</property>
		<property name="userAttribute">
			<value>anonymousUser,ROLE_ANONYMOUS</value>
		</property>
	</bean>

	<bean id="anonymousAuthenticationProvider"
		class="org.acegisecurity.providers.anonymous.AnonymousAuthenticationProvider">
		<property name="key">
			<value>foobar</value>
		</property>
	</bean>  



	<bean id="httpSessionContextIntegrationFilter"
		class="org.acegisecurity.context.HttpSessionContextIntegrationFilter">
		<property name="context">
			<value>org.acegisecurity.context.SecurityContextImpl</value>
		</property>
	</bean>

	<bean id="securityRequestFilter"
		class="org.acegisecurity.wrapper.SecurityContextHolderAwareRequestFilter" />

	<bean id="exceptionTranslationFilter"
		class="org.acegisecurity.ui.ExceptionTranslationFilter">
		<property name="authenticationEntryPoint">
			<bean
				class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilterEntryPoint">
				<property name="loginFormUrl">
					<value>/jsp/Home.jsf</value>
				</property>
				<property name="forceHttps">
					<value>false</value>
				</property>
			</bean>
		</property>
		<property name="accessDeniedHandler">
			<bean
				class="org.acegisecurity.ui.AccessDeniedHandlerImpl">
				<property name="errorPage">
					<value>/jsp/Home.jsf</value>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="filterSecurityInterceptor"
		class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">
		<property name="authenticationManager">
			<ref bean="authenticationManager" />
		</property>
		<property name="observeOncePerRequest" value="false" />
		<property name="accessDecisionManager">
			<!--
				The AffirmativeBased voter allows access if at least one voter votes
				to grant access. Use the UnanimousBased voter if you only want to
				grant access if no voter votes to deny access. -->
			<bean class="org.acegisecurity.vote.AffirmativeBased">
				<property name="decisionVoters">
					<list>
						<bean
							class="org.acegisecurity.vote.RoleVoter">
							<!--  Reset the role prefix to "", default is ROLE_ -->
							<property name="rolePrefix">
								<value></value>
							</property>
						</bean>
						<!--
							The authenticated voter grant access if e.g.
							IS_AUTHENTICATED_FULLY is an attribute -->
						<bean
							class="org.acegisecurity.vote.AuthenticatedVoter" />
					</list>
				</property>
			</bean>
		</property>
		<property name="objectDefinitionSource">
			<value>
				CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
				PATTERN_TYPE_APACHE_ANT 
				
			</value>
		</property>
	</bean>

	<bean id="authenticationManager"
		class="org.acegisecurity.providers.ProviderManager">
		<property name="providers">
			<list>
				<ref local="autoDaoAuthenticationProvider" />
			</list>
		</property>
	</bean>

	<bean id="daoAuthenticationProvider"
		class="org.acegisecurity.providers.dao.DaoAuthenticationProvider">
		<property name="userDetailsService" ref="userDetailsService" />
	
	</bean>

	<bean id="autoDaoAuthenticationProvider"
		class="pl.com.autostopowicz.authentication.AutoDaoAuthenticationProvider">
		<property name="userDetailsService"
			ref="autoUserDetailsService" />
		<!-- property name="passwordEncoder" ref="shaPasswordEncoder" /-->
		<property name="dataSource">
			<ref bean="databaseManager" />
		</property>
		<property name="hideUserNotFoundExceptions">
			<value>false</value>
		</property>
	</bean>

	<bean id="autoUserDetailsService"
		class="pl.com.autostopowicz.authentication.AutoListUserDetailsService">
		<property name="dataSource">
			<ref bean="databaseManager" />
		</property>
	</bean>


	<bean id="userDetailsService" class="org.acegisecurity.userdetails.memory.InMemoryDaoImpl">
		
			<property name="userMap">
					<value>
						toms=toms123,ROLE_USER
						test=test123,ROLE_ANONYMOUS
					</value>
				</property>
	</bean>
		
	

	<bean id="authenticationController"
		class="pl.com.autostopowicz.authentication.AuthenticationController"
		scope="session">
		<property name="authenticationManager">
			<ref bean="authenticationManager" />
		</property>
		
	</bean>
</beans>